article.post-preview {
    padding-top: 5rem
}

.post-preview > a {
    text-decoration: none
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
    text-decoration: none;
    color: inherit;
}

blockquote {
    color: grey;
    background-color: whitesmoke;
    padding: 1rem;
    border-color:darkgray;
    border-style: none;
    border-left-style: solid;
}