<section id="experience" class="page-section bg-dark">
    <div class="container px-4 px-lg-5 text-light">
        <h2 class="text-center mt-0">Shipped code for</h2>
        <hr class="divider divider-light" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 text-center">
                <div class="mt-5">
                    <div class="mb-2"><img src="/assets/img/logos/okta.png" width="188em"/></div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="mt-5">
                    <div class="mb-2"><img src="/assets/img/logos/arctic_wolf.png" width="188em"/></div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="mt-5">
                    <div class="mb-2"><img src="/assets/img/logos/capital_one.png" width="188em"/></div>
                </div>
            </div>
        </div>
		
		<div class="justify-content-center text-center mt-5">
			<a class="btn btn-light btn-xl mb-5" href="assets/resume.pdf">View Resume</a>
		</div>
    </div>
</section>
